/* עיצוב לפופ-אפ */
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
  transition: left 0.5s ease-in-out, visibility 0s 0.5s;
  visibility: hidden;
}
/* כאשר הפופ-אפ פתוח, נעבור את ה-left ל-0 */
.mobile-menu-overlay.open {
  left: 0;
  visibility: visible;
  transition: left 0.5s ease-in-out;
}

/* עיצוב לתוכן הפופ-אפ */
.mobile-menu-content {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 90%;
  height: 90%;
  max-width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow-y: auto;
  transition: transform 0.3s ease-out;
}

/* מיקום האיקס בתוך הפופ-אפ */
.close-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  text-align: left;
  transition: color 0.3s ease-in-out;
}
/* שינוי צבע האיקס בהובר */
.close-icon:hover {
  color: red;
}
/* אפקט פתיחה של תתי קטגוריות */
.submenu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
.submenu.open {
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
}

/* רווח בין האייקון לתוכן בפופ-אפ */
.content-spacing {
  height: 60px; /* תוכל לשנות את הערך בהתאם לצורך */
}

/* עיצוב עבור כל קטגוריה */
.category-item {
  width: 100%;
  border-bottom: 1px solid #ddd; /* פס דק בין כל קטגוריה */
  padding: 10px 0;
  justify-content: flex-end; /* מציב את כל התוכן לימין */
  align-items: center;
}

/* עיצוב תוכן הקטגוריה (שם + אייקון) */
.category-content {
  display: flex;
  justify-content: flex-end; /* כל התוכן יהיה מימין */
  align-items: center;
  width: 100%;
  cursor: pointer;
}

/* אייקון מצד ימין */
.category-icon {
  margin-left: 10px; /* ריווח בין האייקון לשם הקטגוריה */
  font-size: 16px;
  color: #333;
}

/* שם הקטגוריה */
.category-title {
  text-align: right; /* מיישר את הטקסט לימין */
  font-size: 18px;
  color: #333;
  margin-right: 10px; /* ריווח בין שם הקטגוריה לאייקון */
}
