/* כל הגדרות הסטייל לאתר */
body {
    background-color: #f5f5dc99; /* צבע הרקע של כל האתר */
    font-family: Arial, sans-serif; /* פונטים כללים */
    margin: 0; /* מבטל את הרווחים של הדף */
    padding: 0; /* מבטל את הריפוד של הדף */
    color: #333; /* צבע טקסט כללי */
}


/* App.css או הקובץ שלך */
.main-content {
    min-height: calc(100vh - 150px); /* מינימום גובה תוכן */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* וודא שהתוכן יתפוס את כל הגובה */
  }
  
  /* אם יש צורך להוסיף מרווח בין הניווט לפוטר */
  .nav-footer-spacing {
    margin-bottom: 50px; /* המרווח בין הניווט לפוטר */
  }
  